*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 14px;
}

body {
    background-color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    ;
}

.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
}

.float-right {
    float: right;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.display-inline {
    display: inline;
}

.margin-r-10 {
    margin-right: 10px;
}

.margin-bottom-small {
    margin-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Header */

.header {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #d0cece;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 17px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.logo-brand {
    width: 100px;
}

.search-w {
    flex-grow: 19;
}

.search-wrap {
    width: 200px;
    height: 30px;
    position: relative;
    border: 1px solid;
    border-color: #dddd;
    border-radius: 5px;
    float: right;
}

.search-wrap .search-input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: #bbb;
    padding: 11px;
    border-style: none;
    border-radius: 5px;
}

.search-wrap .search-input:focus {
    outline: none;
}

.search-wrap .search-input:focus .search-inner {
    transform: translate(-50px);
    transition: all .3s;
}

.search-wrap .search-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbb;
}

.search-wrap .search-input:focus+.search-inner {
    left: 0;
    transform: translate(3%, -50%);
    transition: all 0.5s;
}

.search-wrap .search-input:focus~.clear {
    opacity: 1;
    transition: all 0.4s;
}

.search-wrap .clear {
    position: absolute;
    right: 7px;
    top: 6px;
    color: #bbb;
    opacity: 0;
}

.nav-icon {
    margin-left: 103px;
    flex-grow: 1;
}

.nav-icon li {
    list-style: none;
    display: inline;
}

.nav-icon li a {}

.nav-icon li a:not(last-child) {
    margin-right: 10px;
}

.nav-icon li a svg {}

.nav-icon li a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


/* story box */

.story-box {
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
}

.story-info {
    flex-grow: 1;
    font-size: 1rem;
}

.story-info p {
    color: #bbb;
    font-size: 0.7rem;
    margin-top: 5px;
}

.profile-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    z-index: 0;
}

.story-box .profile-image::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: rgb(245, 10, 206);
    background: linear-gradient(-108deg, rgba(245, 10, 206, 1) 0%, rgba(250, 77, 160, 1) 46%, rgba(253, 120, 45, 1) 66%);
    top: 0;
    left: 0;
    z-index: -1;
}

.profile-image img {
    width: 92%;
    height: 92%;
    border-radius: 50%;
    border: 2px solid #fff;
}


/*================
===================*/

.recomend-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.recomend-box .follow a,
.recomend-box .follow a:link {
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
    font-size: 0.8rem;
}

.profile-wrap {
    padding: 20px;
}

.profile-wrap>img {
    width: 20px;
    cursor: pointer;
}

.post-wrap {
    border: 1px solid #d0cece;
    border-radius: 5px;
    margin-bottom: 50px;
    background-color: #fff;
}

.post-wrap .image {
    width: 100%;
}

.post-wrap .react-icon {
    padding: 10px 20px 0px;
}

.like-box {
    padding: 0 20px;
}

.profile-image.profile1 {
    margin-left: -10px;
    margin-right: 0;
}

.profile-image.profile1 img {
    width: 70%;
    height: 70%;
}

.story-info p.like-by {
    font-size: 1rem;
    color: black;
}

.story-info p.like-by span {
    font-weight: bold;
}

.post-content {
    padding: 0 20px;
}

.post-content>p {
    margin-bottom: 10px;
}

.post-content p span {
    font-weight: bold;
    margin-right: 10px;
}

.post-content p span.more {
    color: #bbb;
    cursor: pointer;
}

.post-content .time-line {
    text-transform: uppercase;
    color: #bbb;
}

.view-comment,
.view-comment:link {
    text-decoration: none;
    color: #bbb;
}

.view-comment:visited {
    color: cornflowerblue;
}

.comment-list .comment span {
    font-weight: bold;
    margin-right: 10px;
}


/* // add comment */

.add-comment {
    padding: 20px;
    border-top: 1px solid #d0cece;
}

.add-comment .add-comment-ran {
    border: none;
    font-size: 1rem;
    width: 70%;
    height: 30px;
}

.add-comment .add-comment-ran:focus {
    border-color: transparent;
    outline: none;
}

.add-comment .post {
    text-decoration: none;
    font-weight: bold;
    float: right;
    color: #0095f6;
}


/* body */

.post-container {
    width: 65%;
    margin-right: 20px;
}

.side-right {
    width: 24%;
    position: fixed;
    right: 14%;
}

.side-right .recomend-box .profile-image img {
    border: none;
    width: 110%;
    height: 110%;
}


/* block rigth side */

.block {
    width: 100%;
    height: 200px;
    border: 1px solid #d0cece;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}

.block .title {
    padding: 10px 12px;
    font-size: 1rem;
}

.block .title .stories {
    font-weight: 800;
    color: #bbb;
}

.block .title .watch-all {
    float: right;
    font-weight: 500;
}

.content-scroll {
    height: 80%;
    overflow-y: auto;
}


/* 
policy
 */

.policy ul {
    padding: 10px 0;
}

.policy ul li {
    display: initial;
}

.policy ul li a {
    text-decoration: none;
    font-size: 0.7rem;
    display: inline-block;
    color: #aaa;
}